.tracking{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap: wrap-reverse;
  background-color:white;
}
.tracking-left-side{
  width: 55%;
  display:flex;
  flex :1 0 50%;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
  
}
.tracking-right-side{
  flex: 0 1 500px;

}
.tracking-right-side img{
  position:relative;
  left:-26%;
  width:100%;

}
span{
  font-family: gilroy;
  color: #475467;
  font-size: 2em;
}
h2{
  position: relative;
  font-family: gilroy;
  color: black;
  font-size: 4em;
  align-self:center;
  text-align: center;
}
.input-group{
  display: flex;
  justify-content: start;
}
.input-group input{
  width: 80%;
  outline: none;
  font-size: 2em;
  height: 50px;
  border: 2px solid red;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 10px;
  border-right: none;
}
.input-group button{
  width: 20%;
  background-color: red;
  height: 74px;
  border:none;
  border-left: 1px solid red;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.input-group button:hover{
  background-color: black;
  border-left: 1px solid black;
}