<div class="tracking">
    <div class="tracking-right-side">
        <img alt="My image name" src="./assets/imgs/tracking_01.png">
    </div>
    <div class="tracking-left-side">
        <h2>Easy Real-time Shipment Tracking</h2>
        <span>Enter Your Tracking ID to Start</span>
        <form class="input-group">
        <input >
        <button type="submit">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 21L28 28" stroke="white" stroke-width="3" stroke-linecap="round"></path><circle cx="13" cy="13" r="11" stroke="white" stroke-width="3"></circle></svg>
        </button>
        </form>
    </div>
</div>

