.tracking-system{
  display:flex;
  justify-content:space-around;
  align-items:center;
  flex-wrap: wrap;
  background-color:white;
  width:90%;
  margin:auto;
  
  }
  .tracking-system-left-side{
    flex: 0 1 700px;
  }
  .tracking-system-left-side img{

    width:100%;
}
  .tracking-system-right-side{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .item{
    height:25%;

  }
  .title{
    height: 10%;
    color: black;
    font-size: 2.2em;
    font-family: gilroy;
  }
  h3{
    width: 100%;
    position: relative;
    font-family: gilroy;
    top:10px;
    display: block;
    color: black;
    font-size: 1.8em;
  }
  span{
    font-family: gilroy;
    display: block;
    color: #475467;
    font-size: 1.2em;
    width: 100%;
  }
  .item div svg{
    width: 2em;
    height: 2em;
    position: relative;
    top:40px;
    /* text-align:center; */
    
}