  
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"  width="100%" style="position:relative;top:60px">
    <path id="myPath"fill="black" fill-opacity="1" d="M0,0L1440,96L1440,0L0,0Z"></path>
  </svg>
  <div class="services" >
    <div class="title">Empowering businesses with our services and solutions</div>
    <div class="servicesSides">

     <div class="services-left-side">
      <img alt="My image name" src="./assets/imgs/cart.png">
     </div>
     <div class="services-right-side">
         <div class="item">
          <div>
            <img alt="My image name" src="./assets/imgs/truck.png">
            <h2>Overnight delivery</h2>
            <span>Get orders delivered on the very next day! Guaranteed with a success rate of 96%, one of the highest rates in the region’s logistics market.</span>
          </div>
          <div>
            <img alt="My image name" src="./assets/imgs/pickup.png">
            <h2>Full financial visibility</h2>
            <span>Have live updates day by day about your financials through Tlog’s Wallet available in our dashboard.</span>
          </div>
        </div>
        <div class="item">
          <div>
            <img alt="My image name" src="./assets/imgs/budget.png">
            <h2>Next-day cash collection</h2>
            <span>Empower your business’s cash cycle with Egypt's fastest cash collection service. Only in 24 hours</span>
          </div>
          <div>
            <img alt="My image name" src="./assets/imgs/warehouse.png">
            <h2>Shipping all over Morroco</h2>
            <span>Tlog offers a full coverage delivery experience with +20 distribution centers all over Morroco and counting.</span>
          </div>
        </div>
    
     </div> 
 </div>
