.services{
    height:700px ;
    width:100%;
    background:linear-gradient(white,white,white,#f7bee6);
    position: relative;
    top: -140px;
    display: flex;
    flex-direction: column;
    
    
}
.title{
    text-align: center;
    font-family:gilroy;
    font-size:35px;
    color:black;
    height:100px;
}
.servicesSides{
    display:flex;
    justify-content:space-around;
    /* margin-top:100px; */
}
.services-left-side{
    color:right;
    position:relative;
    top:0px;
    font-size:35px;
    width:40%;   
    padding-left:100px;
    z-index:1;
}
.services-left-side img{
    width:100%;
}
.services-right-side{
    position:relative;
    top:150px;
    right:50px;
    color:black;
    font-size:35px;
    width:40%; 
    font-family: 'Poppins/Bold';  
    z-index:1;
    display:flex;
    flex-direction: column; 
    height:500px;
    background-color: transparent;

}
.services-right-side .item{
    height:45%;
    display:flex;
    justify-content:space-around;
}
.services-right-side .item div{
    width:45%;
    display:block;
    /* text-align:center; */
    
}
.services-right-side .item div img{
    width: 1em;
    height: 1em;
    position: relative;
    top:30px;
    /* text-align:center; */
    
}


button{
    margin-top: 50px;
    height:50px;
    background-color:red;
    color: black;
    font-family: gilroy;
    font-size: 20px;
    border:1px solid red;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
}
button:hover{
    background-color:white;
    color: red;
    border:2px solid red;
    box-shadow: red 1px 1px;
}
   
span{
    font-family: gilroy;
    display: block;
    color: #475467;
    font-size: 0.4em;
}
h2{
    position: relative;
    font-family: gilroy;
    top:10px;
    display: block;
    color: black;
    font-size: 0.6em;
}
.svg-car{
    position: absolute;
    left:-200px;
    top:330px;
    z-index: 0;
}